*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans" , sans-serif;
}


body{
    background-color: #0c0c1d;
    color: lightgrey;
    cursor: default;
    overflow-x: hidden;
}

html{
    scroll-behavior:  smooth 2s;
    scroll-snap-type: y  mandatory;
    scroll-behavior: smooth;
}

section{
    overflow-x: hidden;
    height: 100vh;
    /* width: 100vw; */
    scroll-snap-align: center ;
    /* border: 3px solid black; */
}

.para-parent{
    position: relative;
}


a{
    text-decoration: none;
    /* color: lightgrey; */
    color: inherit;
}


sidebar{
    background-color: orange;
}



.main-scroll-top{
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 100;
    width: 20px ;
    height: 20px ;
    scale: 2;
    color: orange;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}









/* For modern browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #30d9ff, #ff992c);
  /* background-color: #7003ff; */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #81e6ff;
}
